@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #add0e7;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #add0e7;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.MuiPaper-root,
.MuiAppBar-root,
.MuiDrawer-paper {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
